In [161]:
# Dependencies and Setup
import pandas as pd
from functools import reduce

In [162]:
#Load stock price files
amd_data = "Resources/cl_stock-amd.csv"
nvda_data = "Resources/cl_stock-nvda.csv"
mu_data = "Resources/cl_stock-mu.csv"

# Load crypto price files - (BTC, XRP, ETH, LTC, EOS, DASH)
btc_data = "Resources/cl_crypto-btc.csv"
xrp_data = "Resources/cl_crypto-xrp.csv"
eth_data = "Resources/cl_crypto-eth.csv"
ltc_data = "Resources/cl_crypto-ltc.csv"
eos_data = "Resources/cl_crypto-eos.csv"
dash_data = "Resources/cl_crypto-dash.csv"

# Create stock price DataFrames
amd_df = pd.read_csv(amd_data)
nvda_df = pd.read_csv(nvda_data)
mu_df = pd.read_csv(mu_data)

# Create crypto price DataFrames
btc_df = pd.read_csv(btc_data)
xrp_df = pd.read_csv(xrp_data)
eth_df = pd.read_csv(eth_data)
ltc_df = pd.read_csv(ltc_data)
eos_df = pd.read_csv(eos_data)
dash_df = pd.read_csv(dash_data)

In [174]:
# Merge stock price data into one DataFrame
stocks = [amd_df,nvda_df,mu_df]
merged_stocks = reduce(lambda left,right: pd.merge(left,right,on='date'), stocks)
merged_stocks.rename(columns={'close_x': 'close_amd', 'close_y': 'close_nvda','close': 'close_mu'}, inplace=True)
merged_stocks.head()

         date  close_amd  close_nvda  close_mu
0  2018-12-04      21.12      157.11     36.88
1  2018-12-03      23.71      170.04     40.03
2  2018-11-30      21.30      163.43     38.56
3  2018-11-29      21.43      157.36     37.91
4  2018-11-28      21.34      160.07     38.71

In [180]:
# Merge cryptos into one DataFrame
cryptos1 = [btc_df,xrp_df,eth_df]
merged_crypto1 = reduce(lambda left,right: pd.merge(left,right,on='date'), cryptos1)
merged_crypto1.rename(columns={'close_x': 'close_btc', 'close_y': 'close_xrp','close': 'close_eth'}, inplace=True)

cryptos2 = [ltc_df,eos_df,dash_df]
merged_crypto2 = reduce(lambda left,right: pd.merge(left,right,on='date'), cryptos2)
merged_crypto2.rename(columns={'close_x': 'close_ltc', 'close_y': 'close_eos','close': 'close_dash'}, inplace=True)

all_crypto_df = pd.merge(merged_crypto1, merged_crypto2, on="date", how="outer")
all_crypto_df.head(1000)

,date,close_btc,close_xrp,close_eth,close_ltc,close_eos,close_dash
0,2014-12-08,364.95,0.0000,0.00,NaN,NaN,NaN
1,2014-12-09,352.19,0.0000,0.00,3.53,0.00,2.50
2,2014-12-10,347.94,0.0000,0.00,3.50,0.00,2.50
3,2014-12-11,347.68,0.0000,0.00,3.48,0.00,2.50
4,2014-12-12,353.40,0.0000,0.00,3.49,0.00,2.50
5,2014-12-13,348.24,0.0000,0.00,3.48,0.00,2.50
6,2014-12-14,349.35,0.0000,0.00,3.48,0.00,2.50
7,2014-12-15,345.37,0.0000,0.00,3.45,0.00,2.50
8,2014-12-16,330.22,0.0000,0.00,3.04,0.00,1.60
9,2014-12-17,320.02,0.0000,0.00,2.94,0.00,1.60
10,2014-12-18,310.34,0.0000,0.00,2.79,0.00,1.60
11,2014-12-19,317.78,0.0000,0.00,2.85,0.00,1.60
12,2014-12-20,330.35,0.0000,0.00,2.92,0.00,1.60
13,2014-12-21,322.63,0.0000,0.00,2.85,0.00,1.60
14,2014-12-22,330.84,0.0000,0.00,2.87,0.00,1.60
15,2014-12-23,335.25,0.0000,0.00,2.88,0.00,1.60
16,2014-12-24,322.40,0.0000,0.00,2.74,0.00,1.60
17,2014-12-25,318.99,0.0000,0.00,2.68,0.00,1.60
18,2014-12-26,329.98,0.0000,0.00,2.78,0.00,1.99
19,2014-12-27,315.34,0.0000,0.00,2.70,0.00,1.65
20,2014-12-28,316.53,0.0000,0.00,2.72,0.00,1.65
21,2014-12-29,314.12,0.0000,0.00,2.69,0.00,1.65
22,2014-12-30,311.27,0.0000,0.00,2.69,0.00,1.65
23,2014-12-31,318.24,0.0000,0.00,2.71,0.00,1.60
24,2015-01-01,314.89,0.0000,0.00,2.69,0.00,1.60
25,2015-01-02,315.21,0.0000,0.00,2.66,0.00,1.72
26,2015-01-03,287.13,0.0000,0.00,2.18,0.00,1.72
27,2015-01-04,264.72,0.0000,0.00,1.95,0.00,1.72
28,2015-01-05,274.84,0.0000,0.00,2.11,0.00,1.60
29,2015-01-06,282.27,0.0000,0.00,2.10,0.00,1.60
...,...,...,...,...,...,...,...
970,2017-08-04,2878.49,0.1744,220.60,43.31,1.78,187.09
971,2017-08-05,3262.80,0.1848,253.09,46.24,1.86,192.00
972,2017-08-06,3232.03,0.1802,264.56,45.56,1.76,188.77
973,2017-08-07,3401.91,0.1782,269.94,46.11,1.83,196.64
974,2017-08-08,3429.38,0.1967,296.51,49.13,1.86,203.31
975,2017-08-09,3348.79,0.1841,295.28,47.78,1.82,198.94
976,2017-08-10,3425.67,0.1809,298.28,46.97,1.84,201.01
977,2017-08-11,3654.37,0.1778,309.32,47.11,1.76,205.66
978,2017-08-12,3871.62,0.1716,308.02,46.27,1.65,204.29
979,2017-08-13,4062.60,0.1657,296.62,45.49,1.59,196.90
980,2017-08-14,4327.94,0.1683,299.16,45.70,1.61,198.74
981,2017-08-15,4161.66,0.1577,286.52,43.17,1.62,202.64
982,2017-08-16,4387.40,0.1603,301.38,43.97,1.59,231.08
983,2017-08-17,4278.92,0.1578,300.30,43.83,1.52,234.74
984,2017-08-18,4105.37,0.1569,292.62,46.74,1.40,222.63
985,2017-08-19,4150.45,0.1526,293.02,45.19,1.39,286.58
986,2017-08-20,4066.60,0.1587,298.20,45.81,1.36,291.51
987,2017-08-21,4005.10,0.1958,321.85,48.09,1.33,281.22
988,2017-08-22,4089.70,0.2421,313.37,46.40,1.27,291.76
989,2017-08-23,4141.09,0.2457,317.40,53.44,1.42,292.46
990,2017-08-24,4318.35,0.2173,325.28,50.36,1.37,313.34
991,2017-08-25,4364.41,0.2167,330.06,51.09,1.37,314.96
992,2017-08-26,4352.30,0.2097,332.86,51.58,1.36,396.74
993,2017-08-27,4345.75,0.2017,347.88,61.08,1.34,362.90
994,2017-08-28,4390.31,0.2252,347.66,62.36,1.33,356.56
995,2017-08-29,4597.31,0.2199,372.35,63.76,1.32,360.10
996,2017-08-30,4583.02,0.2319,383.86,65.97,1.25,371.61
997,2017-08-31,4735.11,0.2593,388.33,73.03,1.34,380.77
998,2017-09-01,4921.85,0.2529,391.42,87.88,1.32,395.46
999,2017-09-02,4573.80,0.2252,351.03,79.18,1.24,348.09