In [1]:
# Dependencies and Setup
import pandas as pd
from functools import reduce
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
#Load stock price files
amd_data = "Resources/cl_stock-amd.csv"
nvda_data = "Resources/cl_stock-nvda.csv"
mu_data = "Resources/cl_stock-mu.csv"

# Load crypto price files - (BTC, XRP, ETH, LTC, EOS, DASH)
btc_data = "Resources/cl_crypto-btc.csv"
xrp_data = "Resources/cl_crypto-xrp.csv"
eth_data = "Resources/cl_crypto-eth.csv"
ltc_data = "Resources/cl_crypto-ltc.csv"
eos_data = "Resources/cl_crypto-eos.csv"
dash_data = "Resources/cl_crypto-dash.csv"

# Create stock price DataFrames
amd_df = pd.read_csv(amd_data).sort_values('date').reset_index(drop=True)
nvda_df = pd.read_csv(nvda_data).sort_values('date').reset_index(drop=True)
mu_df = pd.read_csv(mu_data).sort_values('date').reset_index(drop=True)

# Create crypto price DataFrames
btc_df = pd.read_csv(btc_data).sort_values('date').reset_index(drop=True)
xrp_df = pd.read_csv(xrp_data).sort_values('date').reset_index(drop=True)
eth_df = pd.read_csv(eth_data).sort_values('date').reset_index(drop=True)
ltc_df = pd.read_csv(ltc_data).sort_values('date').reset_index(drop=True)
eos_df = pd.read_csv(eos_data).sort_values('date').reset_index(drop=True)
dash_df = pd.read_csv(dash_data).sort_values('date').reset_index(drop=True)

In [3]:
amd_df.head()

         date  close
0  2015-12-07  2.355
1  2015-12-08  2.390
2  2015-12-09  2.350
3  2015-12-10  2.450
4  2015-12-11  2.360

In [4]:
# btc_df['val_chg'] = btc_df['close'].diff()
# btc_df['pct_chg'] = btc_df['close'].pct_change()
# # btc_df.head()

# amd_df['val_chg'] = amd_df['close'].diff()
# amd_df['pct_chg'] = amd_df['close'].pct_change()
# amd_df.head()

In [5]:
# Merge stock price data into one DataFrame
stocks = [amd_df,nvda_df,mu_df]
merged_stocks = reduce(lambda left,right: pd.merge(left,right,on='date'), stocks)
merged_stocks.rename(columns={'close_x': 'close_amd', 'close_y': 'close_nvda','close': 'close_mu'}, inplace=True)
merged_stocks.sort_values('date',ascending=True,inplace=True)
merged_stocks['date'] =  pd.to_datetime(merged_stocks['date'])
# merged_stocks.dtypes
merged_stocks.head()

        date  close_amd  close_nvda  close_mu
0 2015-12-07      2.355       33.11     14.85
1 2015-12-08      2.390       33.56     14.60
2 2015-12-09      2.350       32.71     14.32
3 2015-12-10      2.450       32.98     14.66
4 2015-12-11      2.360       32.49     14.04

In [7]:
# Merge cryptos into one DataFrame
cryptos1 = [btc_df,xrp_df,eth_df]
merged_crypto1 = reduce(lambda left,right: pd.merge(left,right,on='date'), cryptos1)
merged_crypto1.rename(columns={'close_x': 'close_btc', 'close_y': 'close_xrp','close': 'close_eth'}, inplace=True)

cryptos2 = [ltc_df,eos_df,dash_df]
merged_crypto2 = reduce(lambda left,right: pd.merge(left,right,on='date'), cryptos2)
merged_crypto2.rename(columns={'close_x': 'close_ltc', 'close_y': 'close_eos','close': 'close_dash'}, inplace=True)

all_crypto_df = pd.merge(merged_crypto1, merged_crypto2, on="date", how="outer")
all_crypto_df.dropna(how='any',inplace=True)
all_crypto_df['date'] =  pd.to_datetime(all_crypto_df['date'])
# all_crypto_df.dtypes
all_crypto_df.head()

,date,close_btc,close_xrp,close_eth,close_ltc,close_eos,close_dash
1,2014-12-09,352.19,0.0,0.0,3.53,0.0,2.5
2,2014-12-10,347.94,0.0,0.0,3.50,0.0,2.5
3,2014-12-11,347.68,0.0,0.0,3.48,0.0,2.5
4,2014-12-12,353.40,0.0,0.0,3.49,0.0,2.5
5,2014-12-13,348.24,0.0,0.0,3.48,0.0,2.5